/* 
Author Name	: Bholu Singh
Website		: Free Projects1 
File Name 	: style.css
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #151515;
}
h2{
	position: relative;
	font-size: 10em;
	color: #444;
	width: 80%;
}
h2 span{
	color: #0f0;
	display: none;
}
